/*version=2013-08-17T03-01-3;compress date :Sat, 17 Aug 2013 03:01:38 GMT*/
/*yaryin.ui.css*/
.error{color:red}.success{color:#00ff21}.warning{color:#edf545}.ui-popup{font-weight:700}.loading-cover{cursor:wait}.loading-cover .mask{width:100%;height:100%}.loading-cover .loading-img{background-image:url(resources/app/bx_loader.gif);background-repeat:no-repeat;height:50px;width:50px;position:absolute}
/*a_h.css*/
