<!--layout(_layout)-->
@{
    var model = locals.model ||{};    
}
<div style="width: 100%; height: 100%;">
    <textarea name="note-content" style="width: 100%; height: 700px" class="tinymce">
        @model.current
    </textarea>
</div>
<script>
    var noteData = {
        hashkey: '@model.hashkey'
    };
</script>

