.editor-page .navbar{
    min-height: 30px;
}

.editor-page .ui-layout-pane{
    top:30px !important;
}

#toolbar{
    height: 27px;
}
#toolbar .fa {
    font-size: 16px;
    color: white;
    margin-top: 3px;
}

#toolbar .navbar-nav>li>a{
    padding:6px 6px 3px;
}

.skin-blue.editor-page #toolbar .fa{
    color: #ffffff;
}

.skin-black.editor-page #toolbar .fa{
    color: #000000;
}

#dlg-fileList .container-fluid{
    padding: 0;
}
#dlg-fileList .modal-dialog{
    min-width: 1024px;
}
#dlg-fileList .modal-body{
    height: 600px;
}
#dlg-fileList .main-sidebar{
    position: relative;
    padding: 0;
}

.full-height{
    height: 100%;
    overflow-y: auto;
}