.error {
    color: #f00;
}

.success {
    color: #00ff21;
}

.warning {
    color: #edf545;
}

.ui-popup {
    font-weight: bold;
}


.loading-cover {
    cursor:wait;
}
.loading-cover .mask {
    width:100%;
    height:100%;
}

.loading-cover .loading-img {
    background-image: url(images/bx_loader.gif);
    background-repeat:no-repeat;
    height:50px;
    width:50px;
    position:absolute;
}
